<!-- index.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to the Message Board!</h1>

    {% if username %}
        <p>Hello, {{ username }}! You are logged in.</p>
    {% else %}
        <p>You are not logged in. <a href="{% url 'login' %}">Login here</a>.</p>
    {% endif %}

    {% if username %}
        <!-- Formularz do dodawania wiadomości -->
        <h2>Post a new message</h2>
        <form action="{% url 'post_message' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Post Message</button>
        </form>
    {% endif %}

    <div class="messages">
        {% for message in messages %}
            <div class="message">
                <h3>{{ message.user.username }} says:</h3>
                <div class="content">
                    {{ message.content|safe }}
                </div>
                {% if message.image_url %}
                    <img src="{{ message.image_url }}" alt="Image from URL" class="posted-image">
                {% endif %}
                {% if message.image %}
                    <img src="{{ message.image.url }}" alt="Uploaded Image" class="posted-image">
                {% endif %}
            </div>
        {% endfor %}

    </div>

{% endblock %}
