{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login 123456aA!!!!</h1>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <!-- Render form fields dynamically -->
        <div>
            {{ form.non_field_errors }}
        </div>

        <div>
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
            <div class="text-danger">
                {{ form.username.errors }}
            </div>
        </div>

        <div>
            <label for="{{ form.password.id_for_label }}">Password:</label>
            {{ form.password }}
            <div class="text-danger">
                {{ form.password.errors }}
            </div>
        </div>

        <!-- Render CAPTCHA field if required -->
        {% if form.captcha %}
            <div>
                <label for="{{ form.captcha.id_for_label }}">CAPTCHA:</label>
                {{ form.captcha }}
                <div class="text-danger">
                    {{ form.captcha.errors }}
                </div>
            </div>
        {% endif %}

        <br>
        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
    <p>Forgot you password? <a href="{% url 'forgot_password' %}">Reset password</a></p>
{% endblock %}
