{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <h1>Reset Password</h1>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="password">New Password:</label>
            {{ form.password }}
            <div class="text-danger">
                {{ form.password.errors }}
            </div>
        </div>
        <div>
            <label for="password_confirm">Confirm New Password:</label>
            {{ form.password_confirm }}
            <div class="text-danger">
                {{ form.password_confirm.errors }}
            </div>
        </div>
        <br>
        <button type="submit">Reset Password</button>
    </form>
{% endblock %}