{% extends 'base.html' %}

{% block content %}
    <h1>{{ profile_user.username }}'s Profile</h1>
    <div class="profile-header">
        <img src="{{ profile_user.avatar.url }}" class="user-avatar-large" alt="Profile Picture">
        {% if profile_user.username == username %}
            <!-- Both buttons in the same style -->
            <button onclick="document.getElementById('avatar-form').style.display='block'" class="btn btn-primary">
                Change Avatar
            </button>
            <form action="{% url 'toggle_2fa' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">
                    {% if user_2fa_enabled %}
                        Disable Two-Factor Authentication
                    {% else %}
                        Enable Two-Factor Authentication
                    {% endif %}
                </button>
            </form>
            <!-- Hidden form to update avatar -->
            <div id="avatar-form" style="display:none;">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Update Avatar</button>
                </form>
            </div>
        {% endif %}
    </div>
    <br>
    <h3>Posts by {{ profile_user.username }}:</h3>
    <div class="messages mt-4">
        {% for message in messages %}
            <div class="message">
                <a href="{% url 'user_profile' message.user.username %}">
                    <img src="{{ message.user.avatar.url }}" class="user-avatar">
                </a>
                <div class="message-inner">
                    <h4>{{ message.user.username }} says:</h4>
                    <div class="content">
                        {{ message.content|safe }}
                    </div>
                    {% if message.image_url %}
                        <img src="{{ message.image_url }}" alt="Image from URL" class="posted-image">
                    {% endif %}
                    {% if message.image %}
                        <img src="{{ message.image.url }}" alt="Uploaded Image" class="posted-image">
                    {% endif %}
                    <p>profile_user.username: {{ profile_user.username }}</p>
                    <p>username: {{ username }}</p>
                    {% if profile_user.username == username %}

                        <form action="{% url 'delete_message' message.id %}" method="POST" class="delete-form">
                            {% csrf_token %}
                            <button type="submit" class="delete-button" title="Delete Message">
                                🗑️
                            </button>
                        </form>
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <p>No posts yet.</p>
        {% endfor %}
    </div>
{% endblock %}
