# Ignore Django migration files
*/migrations/*.py
!*/migrations/__init__.py
*/migrations/__pycache__/
../library_project/.idea/
.idea
*/__pycache__/
karabin.*
twitter_app/.env
/app/static/admin/
temp.py
*.pem